//这里放配置项
app:
  host: 0.0.0.0
  port: 8080
  env : dev
  log : logs
db:
  host:
  port:
  user:
  password:
  dbname:
redis:
  host:
  port:
  password:
  db:
  enable: true
qiNiu:
  enable:
  accessKey:
  bucket:
  secretKey:
  url:
  region:
  prefix:
kafka:
   enable: true
   -addr: